# Unity
UnityProject/[Ll]ibrary/
UnityProject/[Tt]emp/
UnityProject/[Oo]bj/
UnityProject/[Bb]uild/
UnityProject/[Bb]uilds/
UnityProject/[Ll]ogs/
UnityProject/[Uu]ser[Ss]ettings/
UnityProject/*.csproj
UnityProject/*.sln
UnityProject/.vs/
UnityProject/.vscode/

# .NET tests
tests/**/bin/
tests/**/obj/
tests/**/TestResults/
# Blender backups
*.blend1
Tools/blender/__pycache__/
